<ion-view view-title="Home" align-title="center">
<ion-content scroll="true">

	<div class="container">
		<h2 class="center">Select a Quest</h2>
		<form>
			<div class="form-group">
				<input class="form-control" placeholder="Filter Quests by Name" type="text" ng-model="desiredQuest.name">
			</div>
		</form>

		<div class="quest" ng-repeat="game in games | filter:desiredQuest">
			<p><a ui-sref="Pergatory({questId: game._id})">{{game.name}}</a></p>
			<p>Starts {{game.distFromMe}} Miles From You</p>
			<p>Covers {{game.distance}} Miles</p>
			<p>Takes Roughly {{game.time}} Hours</p>
			<p>68 Reviews: Avg 3.6/5</p>
			<p>Summary: {{game.summary}}</p>
			
		</div>
	</div>
</ion-content>
</ion-view>
