<ion-modal-view class="myModal">
<ion-header-bar>
  <h1 class="modalTitle">Region Information</h1>
</ion-header-bar>
<ion-content class="modalContent">
	<!-- Opening info: show when quest begins -->
	<h2 ng-show="justStarting">{{quest.openingInfo.title}}</h2>
	<p ng-show="justStarting">{{quest.openingInfo.text}}</p>

	<h2 ng-show="questNotOver && !justStarting">{{currentStep.transitionInfo.title}}</h2>
	<p ng-show="questNotOver && !justStarting">{{currentStep.transitionInfo.text}}</p>
	<!-- Show only when an answer is required to move to next step -->
	<p ng-show="currentStep.transitionInfo.question.length && !justStarting && questNotOver">{{currentStep.transitionInfo.question}}</p>
	<input ng-show="currentStep.transitionInfo.question.length && !justStarting && questNotOver" type="text" ng-model="answer">

	<!-- Closing info: show when quest ends -->
	<h2 ng-show="!questNotOver">{{currentStep.closingInfo.title}}</h2>
	<p ng-show="!questNotOver">{{currentStep.closingInfo.text}}</p>
	<div ng-show="!questNotOver && !hideReviewBox">
		<p>Review This Quest:</p>
		<rating ng-model="rate" max="5" ng-change="submitReview()"></rating>
		<div class="" ng-show="isReviewSubmitted">Submitting review ... </div>
		<div class="" ng-show="reviewIsSubmitted">Thanks for the review :) </div>
	</div>
    <button ng-show="!questNotOver" ui-sref="Home()" class="btn btn-success">Stay & Explore</button>
    <button ng-show="!questNotOver" ng-click="attemptCloseModal()" class="btn btn-success">Choose Another Quest</button>

  <button class="button button-full button-energized closeModalButton" ng-click="attemptCloseModal()">

  	Gottit
  </button>
</ion-content>
</ion-modal-view>