<ion-modal-view class="myModal">
<ion-header-bar>
  <h1 class="modalTitle">Region Information</h1>
</ion-header-bar>
<ion-content class="modalContent">
	<h2 ng-show="questNotOver">{{currentStep.transitionInfo.title}}</h2>
	<p ng-show="questNotOver">{{currentStep.transitionInfo.text}}</p>
	<p ng-show="currentState.transitionInfo.question">{{currentState.transitionInfo.question}}</p>
	<input ng-show="currentState.transitionInfo.question" type="text" ng-model="answer">
	<h2 ng-show="!questNotOver">{{currentStep.closingInfo.title}}</h2>
	<h2 ng-show="!questNotOver">{{currentStep.closingInfo.text}}</h2>
  <button class="button button-full button-energized closeModalButton" ng-click="closeModal()">
  	Gottit
  </button>
</ion-content>
</ion-modal-view>