<nav class="navbar navbar-static-top clearfix">
    <ul class="nav navbar-nav">
        <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
            <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
        </li>
    </ul>
    <div class="logo pull-left"><img src="images/icon.png" /></div>
    <div ng-show="user" class="welcome pull-left">
    </div>
    <button ng-show="!home" ng-click="abandon()" class="btn btn-info pull-left">Quests</button>
    <button ng-show="user && startedquests.length && home" ui-sref="StartedQuests({userId:user._id})" class="btn btn-info pull-left">Quests in Progress</button>
    <button ng-show="!user" ng-click="openAuth()" class="btn btn-info login-button pull-right">Login / Signup</button>
    <button ng-show="user" class ="btn btn-info login-button pull-right" ng-click="logout()" ui-sref="Home">Logout</button>
</nav>