<ion-view view-title="Pergatory" align-title="center">
<ion-content scroll="true">
<section>
	<div class="container">
		<h2 class="center">Choose Your Fellowship</h2>
		<form>
			<div class="form-group">
				<input class="form-control" placeholder="Filter Fellows by Name" type="text" ng-model="desiredContact.name">
			</div>
			<button class="send-text btn btn-info">Summon!</button>
		</form>
		<div class="contacts">
			<div ng-repeat="contact in contacts | filter:desiredContact" class="contact clearfix">
				<span class="name">{{contact.name}} </span>
				<span class=" pull-right number">{{contact.number}}</span>
			</div>
		</div>
	</div>
</section>
</ion-content>
</ion-view>
