<ion-view view-title="Transition" align-title="center">
<ion-content scroll="true">
	<navbar user="user"></navbar>

	<section>
	<div class="container">
		<div class="center welcome" ng-show="user">Welcome, {{user.userName}}</div>
		<h2 ng-class="{'no-top-margin': user}" class="center">Who Goes There?</h2>
		<div ng-show="!isLoggedInUser()">
			<p>Please either log in/sign up, or enter a temporary trail name. Then be on your way!</p>
			<br>
			<p>p.s. If you log in, your progress on this quest will be saved so you can leave and come back later!</p>
		</div>
		<p ng-show="user" class="lead">Proceed!</p>

		<form>
			<div class="form-group">
				<input ng-show="!user" class="form-control" placeholder="Trail Name Here" type="text" ng-model="trailName">
			</div>
			<button ng-click="toMap(trailName)" class="btn btn-info">Onward!</button>
			<p class="lead invalid" ng-show="noName">Identify yourself!</p>
		</form>

	</div>
</ion-content>
</ion-view>
